<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Práctica Vue</title>
    <script src="https://unpkg.com/vue@2.3.4"></script>
    <style>
        html {
        padding: 20px;
        color: #3d3d3d;
        }

        .red {
        color: tomato;
        }
        .green {
        color: tomato;
        }
    </style>
</head>
<body>

    <div id="app">
        <h1>
            Mis Cursos de Platzi💚 
        </h1>
            <p>
            <input type="text" placeholder="Titulo del curso" v-model="title"/>
            <span>{{ title }}</span>
            </p>
            <p>
            <input type="number" placeholder="Horas" v-model="time"/>
            <span>{{ time }}</span>
            </p>
            <p>
            <button v-on:click="addCourse">Guardar Curso</button>
            </p>
        </fieldset>
        <div>
            <h3>Lista de Cursos</h3>
            <p v-show="courses.length==0" class="red">Aun no has realizado cursos</p>
            <div>
            <ol>
                <li v-for="p in courses" >
                    {{ p.title }}  {{ p.time }}
                </li>
            </ol>
            <hr/>
            <p>
                Llevo <strong>{{ totalTime }}</strong> horas aprendiendo en Platzi.
                <b>#NuncaParesDeAprender 💚</b>
            </p>
            </div>
        </div>
    </div>

<script>

    new Vue({
        el: '#app',
        
        data () {
            return {
                courses: [],
                title: '',
                time: 0,
            }
        },
        
        computed: {
            totalTime () {
                let total = 0
                function sumTime(item) {
                  total += item.time;
                }
                this.courses.forEach(sumTime);
                
                return total;
                },
        },
        
        methods: {
            addCourse(){
                this.courses.push({ title: this.title, time: this.time });
                this.title = '';
                this.time = 0;
            }
        }
    })

</script>

</body>
</html>